.whatsapp {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 5px 10px; /* Botón más pequeño */
    border-radius: 20px; /* Bordes más suaves y redondeados */
    color: white;
    font-weight: normal; /* Texto no en negrita */
    font-size: 14px; /* Tamaño de texto más pequeño */
    border: none; /* Sin borde */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.2s ease;
    cursor: pointer;
    max-width: 150px; /* Limitar el ancho máximo del botón */
  }
  
  .whatsapp:hover {
    background-color: #abffca; /* Color más oscuro en hover */
  }
  
  .whatsapp img {
    width: 20px; /* Icono más pequeño */
    height: 20px;
    margin-right: 5px; /* Espacio más pequeño entre icono y texto */
  }
  
  .whatsapp-number {
    white-space: nowrap; /* Evitar que el número se corte en líneas */
  }
  