
.charts-page-container h1{
  font-size: 2rem;
    margin-bottom: 20px;
    color: #007BFF;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    margin-top:0px; 
    padding:50px;
    margin-right: 50px;
    margin-left: 50px;

  }
  
  .chart-item {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    text-align: center;
  }
  
  .chart-item h4 {
    margin-bottom: 10px; 
    font-size: 1.2rem; 
  }
  