.modal-subscription {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-subscription-dialog {
  max-width: 500px;
  width: 100%;
}

.modal-subscription-form {
  display: flex;
  flex-direction: column;
}

.subscription-header {
  background-color: #56e07b;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-header p {
  color: #2f285a;
  text-align: center;
  padding-left: 24px;
  font-weight: bold;
  font-size: 18px;
}

.subscription-header span {
  background-color: #2f285a;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-body {
  background-color: #FFFFFF;
  padding: 10px 24px;
}

.subscription-body p {
  padding: 5px;
  font-size: 20px;
}

.subscription-buttons{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 15px;
}

.renew-button {
  background-color: #2f285a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

.renew-button:hover{
  color: #56e07b;
}
