/* Main container */
.dashboard-container {
  background-color: #f7feff;
  display: flex; 
  flex-direction: column;
}
.owner-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
  url('https://t4.ftcdn.net/jpg/03/18/48/95/360_F_318489561_qpVjxV7GEF4btKaiD4OWe78vX737Jnzz.jpg');
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 12px;

}
.owner-container h1 {
  font-size: 3em;
  border-radius: 16px;
  padding-bottom: 10px;
}

.owner-container p {
  font-size: 20px;
  border-radius: 16px;
}

.outlet-container{
  display: flex;
  width: 100%;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}


.spaces-container h2 {
  color: #2980b9;
  font-size: 28px;
}
.action-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.share-Button-container {
  align-self: center;
  margin-top: 25px;
}
.share-Buttons {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-self: center  ;
  align-items: center ;
  justify-content: center ;
  min-width: 240px;
  gap:3px;
}


.action-container button{
  width: 100%;
  padding: 3px;
  height: 40px;
  color: #ffffff;
  background-color: #4a90e2;
  transition: background-color 0.3s, transform 0.2s ease;
  transform: translateY(-2px);
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0; /* Asegúrate de que no haya margen adicional */

}
.action-container button:hover {
  background-color: rgb(204, 149, 9);
  transform: scale(1.01); 
}
.spaces-Button-container button:hover {
  background-color: #08945e; /* Color verde del botón */
  transform: scale(1.05); /* Efecto de agrandamiento en hover */
}
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.error {
  border: 1px solid red;
}

/* Lista de espacios */
ul {
  list-style-type: none;
  padding: 0;
}

ul li button {
  background-color: #27ae60; /* Verde fuerte */
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

ul li button:hover {
  background-color: #2ecc71;
  transform: scale(1.05); /* Agrandar al hacer hover */
}

/* Botón específico de eliminar */

button[style*="background-color: #dc143c"] {
  background-color: #c9a7a3;
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
}

button[style*="background-color: #dc143c"]:hover {
  background-color: #c0392b;
}

/* Botón de cierre dentro del modal */
.close-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 12px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #c0392b;
}

/* Sección de horarios en el modal */
.time-slots {
  margin-top: 25px;
  background-color: #f9fafc;
  border: 1px solid #dfe6e9;
  padding: 20px;
  border-radius: 12px;
}

.slot-item {
  background-color: #d6eaf8;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.slot-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

/* Botones dentro de la sección de horarios */
.reserve-button,
.cancel-button {
  padding: 14px 20px;
  background-color: #27ae60;
  color: white;
  border-radius: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-button:hover,
.cancel-button:hover {
    background-color: goldenrod;
}
.control-panel{
 display: flex;
 justify-content: center;
}
.upload-background {
  margin-top: 40px;
  text-align: center;
  background-color: #f9f9f9; /* Fondo claro y neutral */
  padding: 20px;
  border-radius: 8px; /* Bordes ligeramente redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar el contenedor */
  max-width: 600px; /* Limitar el ancho para un diseño más compacto */
  margin: 0 auto; /* Centramos el div */
}

.upload-background h2 {
  font-size: 1em;
  color: #333; /* Texto oscuro para un buen contraste */
  margin-bottom: 20px; /* Espacio adecuado entre el título y el input */
  font-weight: 600;
}

.upload-background input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc; /* Borde claro */
  border-radius: 5px;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer; /* Indica que se puede interactuar con el input */
}

.upload-background img {
  width: 80px; /* Imágenes pequeñas pero visibles */
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd; /* Un borde ligero para separarlo visualmente del fondo */
}

.upload-background img:hover {
  transform: scale(1.05); /* Un pequeño zoom al pasar el mouse para darle dinamismo */
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .owner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(169, 169, 169); /* Borde que utilizo como guía */
    border-radius: 12px;
  }
  .outlet-container {
    width: 100%; /* Asegura que tome todo el ancho de la pantalla en dispositivos móviles */
    justify-content: center; /* Centra el contenido */
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .upload-background {
    text-align: center;
    background-color: #f9f9f9; /* Fondo claro y neutral */
    padding: 20px;
    border-radius: 8px; /* Bordes ligeramente redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar el contenedor */
    max-width: 300px; /* Limitar el ancho para un diseño más compacto */
    margin: 0 auto; /* Centramos el div */
  }
  .upload-background input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc; /* Borde claro */
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    max-width: 280px;
    cursor: pointer; /* Indica que se puede interactuar con el input */
  }
  .action-container button{
    width: 100%;
    padding: 3px;
    height: 40px;
    color: #ffffff;
    background-color: #4a90e2;
    transition: background-color 0.3s, transform 0.2s ease;
    transform: translateY(-2px);
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
  }
}
