.location-background {
  background: url(https://image.slidesdocs.com/responsive-images/background/football-player-illustration-color-advertising-powerpoint-background_a455daa2b5__960_540.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
}

.location-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;  /* Esto asegura que se ajuste al tamaño del contenedor padre */
}

.location-header-title {
  align-items: center;
  margin-bottom: 8px;
}

.location-header-title h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #56e07b;
}

.location-header-subtitle p {
  font-size: 15px;
  font-weight: bold;
}

.location-icon {
  padding-right: 10px;
  color:  #2f285a;
  font-size: 2.25rem;
}

.location-container p {
  margin: 10px 0;
  font-size: 1.1rem;
  color: #555;
}

.location-input-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 15px;
}

.location-container input {
  width: 100%;
  width: 350px; /* Establecer un ancho máximo para evitar que sea demasiado grande */
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.location-container input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
  outline: none;
}

.error-message {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .location-container {
    margin: 20px auto;
    padding-left: 10px;
    max-width: 324px;
    max-height: 350px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .location-header-title h3 {
    font-size: 1.45rem;
    margin-left: 5px;
    color: 56e07b;
  }
  .location-input-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0px;  
  }
  .location-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
}
