/* Estilos generales */
.explore-rubro {
    display: flex;
    flex-direction: column;
}

.explore-rubro h2 {
    text-align: center;
    color: #262626;
    font-weight: 500;
}

.explore-rubro-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 20px;
    cursor: pointer;
}


 .explore-rubro-list-item .active {
    border-radius: 25%;
    background-color: goldenrod;
    transition: 0.5s;
}

/* Adaptación para móviles: cambiar de columnas a filas */
@media (max-width: 768px) {
    .explore-rubro-list {
        display: grid; /* Cambiar a grid layout */
        align-items: center;
        margin: 0px;
        margin-top: 12px;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr); /* Dos columnas de igual tamaño */
        grid-gap: 0px; /* Espacio entre los elementos */
        padding: 0px 10px;
    }

    .explore-rubro-list-item {
        text-align: center;
    }

    /* Ajustes adicionales para los ítems */
    .explore-rubro-list-item img {
        width: 80%; /* Ajustar el tamaño de los íconos en móviles */
    }

    .explore-rubro-list-item p {
        font-size: 14px; /* Reducir ligeramente el tamaño del texto en móviles */
    }
    .explore-rubro-list-item .active {
        border-radius: 25%;
        background-color: goldenrod;
        transition: 0.5s;
    }
}
