/* Estilos generales */
.explore-rubro {
    display: flex;
    flex-direction: column;
}

.explore-rubro h3 {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    color: #f2f2f2;
    background-color: #2f285a;
}

.explore-rubro-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 20px;
    cursor: pointer;
}

.explore-rubro-list-item .active {
    border-radius: 50%;
    background-color: #56e07b;
    transition: 0.1s;
}

@media (max-width: 768px) {
    .explore-rubro-list {
        display: grid;
        align-items: center;
        margin: 0px;
        margin-top: 12px;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
        padding: 0px 10px;
    }

    .explore-rubro h3{
        font-size: 20px;
    }

    .explore-rubro-list-item {
        text-align: center;
    }

    .explore-rubro-list-item img {
        width: 50%;
    }

    .explore-rubro-list-item p {
        font-size: 14px;
    }

    .explore-rubro-list-item .active {
        border-radius: 50%;
        background-color: #56e07b;
        transition: 0.5s;
    }
}