
.charts-page-container h1{
margin-top: 40px
}
.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribución uniforme */
    gap: 20px; /* Espacio entre elementos */
    margin-top:0px; /* Espaciado superior */
    padding:50px;
    margin-right: 50px;
    margin-left: 50px;

  }
  
  .chart-item {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    text-align: center;
  }
  
  .chart-item h4 {
    margin-bottom: 10px; /* Espacio entre el título y el gráfico */
    font-size: 1.2rem; /* Ajuste de tamaño de fuente */
  }
  