.add-container {
  display: grid;
  /* border: solid 2px green; */
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  gap: 20px; /* Espacio entre columnas */
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.add-container input {
  padding: 4px; /* Aumenta el padding para que se vea más amplio */
  width: 100%; /* Ajusta el ancho según tu preferencia */
  font-size: 14px; /* Tamaño de texto más grande para mejor legibilidad */
  border: 1px solid #4a90e2; 
  border-radius: 4px; 
  /* outline: none;  */
  transition: all 0.3s ease; /* Transición suave al interactuar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 30px;
}

.add-container input:focus {
  border-color: #2980b9; /* Cambia el color del borde al hacer clic */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más intensa en focus */
}

.add-container input::placeholder {
  color: #999; /* Cambia el color del placeholder */
  font-style: italic; /* Da un estilo diferente al placeholder */
}

.add-container select {
  padding: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px; /* Tamaño de texto más grande para mejor legibilidad */
  border: 1px solid #4a90e2; 
  border-radius: 4px; 
  transition: all 0.3s ease; /* Transición suave al interactuar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add-container select:focus {
  border-color: #2980b9; /* Cambia el color del borde al hacer clic */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más intensa en focus */
}

.add-container select::placeholder {
  color: #999; /* Cambia el color del placeholder */
  font-style: italic; /* Da un estilo diferente al placeholder */
}
.add-button {
  display: flex;
  justify-content: center;
  margin-top: auto; 
  margin-bottom: 3px;
}
.add-button button {
  width: 80%;
  padding: 3px;
  height: 40px;
  color: #ffffff;
  background-color: #4a90e2;
  transition: background-color 0.3s, transform 0.2s ease;
  transform: translateY(-2px);
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
.time-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 6px;
  border: 0.1px solid #cac8c8; /* Define el grosor, estilo y color del borde */
  border-radius: 5px; /* (Opcional) Añade bordes redondeados */
}

.time-selection label{
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente si es necesario */
  font-size: 20px;
}

.time-selection select {
  width: auto; /* Ajusta el tamaño al contenido */
  text-align: center; /* Alinea el texto del contenido en el medio */
  margin: 0 auto; /* Centra el selector dentro del contenedor */
  padding: 5px; /* Espaciado interno para mayor claridad */
  font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
}

.opening-time,
.close-time {
  display: flex;
  flex-direction: column;
}

.opening-time label,
.close-time label {
  font-size: 16px;
  margin-bottom: 5px; /* Acerca la etiqueta al selector */
}

.opening-time select,
.close-time select {
  margin-top: 0; /* Elimina cualquier espacio adicional entre la etiqueta y el selector */
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}


p.error-message {
  color: #dc3545;
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

/* Agregar sombra y efecto hover al botón */
.add-button:active button {
  transform: scale(0.98);
  background-color: goldenrod;
}
.day-item {
  background-color: #f0f0f0; /* Color de fondo no seleccionado */
  color: #333;
  text-align: center;
  transition: background-color 0.3s;
}

.day-item.selected {
  background-color: #ec1822; /* Color de fondo seleccionado */
  color: white;
}

/* Añadir media queries para dispositivos móviles */
@media (max-width: 768px) {
  div {

    padding: 5px;
  }
  .add-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    gap: 10px; /* Espacio entre columnas */
    width: 98%;
    margin: 10px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  .add-container input {
    width: 100%;
    padding: 4px;
  }
  .add-container select {
    padding: 4px;
    width: 100%;
    min-width: 72px;


  }
  .opening-time select{
    width: 100%;
  }
  .close-time select{
    width: 100%;
    min-width: 72px;
  }
}