.add-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.add-container-header{
  background-color: #ececee;
  padding: 12px;
  border-radius: 5px 5px 0px 0px;
}

.add-container-header h1{
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
}

.add-element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.add-element input,
.add-element select {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  font-size: 16px;
  border: 1px solid #d6d5d5;
  border-radius: .25rem;
  margin-top: 20px;
  background-color: #fff;
  color: #373737;
}

.add-element input:focus,
.add-element select:focus {
  border-color: #56e07b;
  outline: none;
}

.time-columns {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 20px; /* Espaciado entre las columnas */
  margin-top: 20px;
}

.time-column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaciado entre los elementos de cada columna */
}


.add-button {
  display: flex;
  justify-content: center;
}

.add-button button {
  background-color: #2f285a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.add-button button:hover {
  color: #56e07b;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}


.opening-time,
.close-time {
  display: flex;
  flex-direction: column;
}

.opening-time label,
.close-time label {
  font-size: 16px;
  margin-bottom: 5px; /* Acerca la etiqueta al selector */
}

.opening-time select,
.close-time select {
  margin-top: 0; /* Elimina espacio adicional entre etiqueta y selector */
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

p.error-message {
  color: #dc3545;
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

/* Agregar sombra y efecto hover al botón */
.add-button:active button {
  transform: scale(0.98);
  background-color: goldenrod;
}

/* Añadir media queries para dispositivos móviles */
@media (max-width: 768px) {
  .add-container {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
    gap: 10px;
    width: 98%;
    margin: 10px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .add-container input,
  .add-container select {
    width: 100%;
    padding: 4px;
  }

  .opening-time select,
  .close-time select {
    width: 100%;
  }
}
