/* src/components/ClosedDays.css */
.days-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Ajusta para hacer que se distribuyan automáticamente */
  gap: 10px;
  padding: 10px;
  width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
}

.day-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #333;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.day-item.selected {
  background-color: #7c1908;
  color: white;
}
