.spaceline-card{
  background-color:whitesmoke;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-style: italic;
}

.sport-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sport-icon img{
  padding-right: 20px;
  width: 60px;
}

.sport-icon p{
  font-size:25px;
  font-weight: bold;
}

.spaceinfo-top {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}

.spaceinfo-bottom{
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.spaceline-button{
    background-color: #28a745;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 500;
}

.spaceline-button:hover{
  background-color: #5cdf7a;
}