.spaceline-card {
  background-color: whitesmoke;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más profunda */
  font-style: italic;
  transition: all 0.3s ease-in-out; /* Suavizar todas las transiciones */
  max-height: 400px;
  overflow: hidden;
  border: 0.4px solid black; /* Borde negro */
}

.spaceline-card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Sombra más marcada en hover */
}

.sport-icon p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.spaceinfo-top, .spaceinfo-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  font-size: 1rem;
}

.spaceinfo-bottom .space-detail p {
  margin: 0;
  text-align: center;
  color: #666;
}

.space-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-detail p:first-child {
  font-weight: bold;
  color: #000;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #eee;
  margin: 15px 0;
}


.spaceline-card .spaceline-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.spaceline-card .spaceline-button:hover {
  background-color: #218838;
}

.spaceline-card .details-toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.spaceline-card .details-toggle-button:hover {
  background-color: #0056b3;
}

.spaceline-card.expanded {
  max-height: 1000px; /* Altura máxima expandida para mostrar todos los detalles */
}

.sport-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sport-icon img {
  padding-right: 20px;
  width: 60px;
}

.sport-icon p {
  font-size: 25px;
  font-weight: bold;
}

.spaceinfo-top {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-evenly;
}

.spaceinfo-bottom {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spaceline-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 2px;
  height: 32px;
}

.spaceline-button:hover {
  background-color: #5cdf7a;
}

.details-toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 2px;
  height: 32px;
}

.details-toggle-button:hover {
  background-color: #0056b3;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .spaceline-card {
    flex: 1 1 calc(80% - 0px); /* Ajusta el ancho de las tarjetas a un 40% del contenedor */
    width: 120%;
    margin-bottom: 20px;
    padding: 0px;
    max-height: 120px; /* Altura contraída por defecto en pantallas pequeñas */
    transition: max-height 0.8s ease-in-out;
  }

  .spaceline-card.expanded {
    max-height: 1000px; /* Expansión completa en pantallas móviles */
  }

  .spaceline-card > * {
    margin: 0px 0;
  }

  .sport-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }

  .sport-icon img {
    width: 50px; /* Reducimos aún más el tamaño de la imagen */
    margin-bottom: 0px;
  }

  .sport-icon p {
    font-size: 20px; 
  }

  .spaceinfo-top, .spaceinfo-bottom {
    font-size: 20px;
    flex-direction: column;
    align-items: center;
  }
.card-buttons{
  display: flex;
}
.spaceline-button{
  font-size: 16px;
  padding: 2px;
  height: 40px;
  margin-bottom: 0px;
  min-width: 50%;
}
  .details-toggle-button {
    font-size: 16px;
    padding: 2px;
    height: 40px;
    margin-bottom: 0px;
    min-width: 50%;

  }
}
