.calendar-modal{
  background-color: #dc3545;
}


.calendar-content {
  background-color: whitesmoke;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* border: solid 3px red; */
}

.modal-header-calendar {
  background-color: #56e07b;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-calendar p{
  color: #2f285a;
  text-align: center;
  padding-left: 24px;
  font-weight: bold;
  font-size: 18px;
}

.modal-header-calendar span {
  background-color: #2f285a;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  padding: 0 24px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.calendar-header h1 {
  font-size: 2rem;
  margin: 0;
}

.modal-close-button {
  cursor: pointer;
}

.modal-close-button p {
  font-size: 1rem;
  margin: 0;
}

.modal-close-button p:hover {
  color: red;
}

.calendar-container {
  display: flex;
  align-items: center;
  background-color: #fff;

}

.react-datepicker {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.react-datepicker__current-month {
  font-size: 24px;
}

.react-datepicker__header {
  background-color: #fff;
  padding: 15px 0;
}

.react-datepicker__navigation {
  border-left-color: #007bff;
  /* Cambia el color de la flecha */
  margin-right: 10px;
  /* Ajuste de margen si es necesario */
  margin-top: 16px;

}

.react-datepicker__navigation:hover {
  opacity: 0.7;
  /* Efecto de opacidad al pasar el cursor */
  cursor: pointer;
  /* Cambia el cursor a pointer */
}

/* Ajusta el tamaño de los números en los días del calendario */
.react-datepicker__day {
  font-size: 24px;
  /* Cambia este valor al tamaño que prefieras */
  gap: 10px;
  margin: 8px;
  padding: 0px;
  width: 30px;
  /* border: solid 1px, red; */
  align-self: center;

}

.react-datepicker__month {
  font-size: 24px;
  /* Cambia este valor al tamaño que prefieras */
  gap: 10px;
  margin: 8px;
  padding: 10px;
  /* border: solid 1px red; */

}

.react-datepicker__day--selected {
  font-size: 24px;
  background-color: #56e07b;
  color: #fff;
}

/* Ajusta el tamaño de los días de la semana en el encabezado del calendario */
.react-datepicker__day-name {
  font-weight: bold;
  font-size: 24px;
  width: 30px;
  margin: 8px;
}

.datepicker-input {
  cursor: pointer;
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  /* border: 1px solid #fa0404; */
}

.timeslot-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Ajuste automático de columnas */
  gap: 10px;
  /* Espacio entre botones */
  width: 100%;
  padding: 20px;
  /* Espaciado alrededor del contenedor */
  box-sizing: border-box;
}

.timeslot-button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  /* Asegura que el botón ocupe el ancho completo de su contenedor */
}

.timeslot-button.available {
  background-color: #2f285a;
}

.timeslot-button.reserved {
  background-color: #dc3545;
}

.timeslot-button:hover {
  opacity: 0.85;
}

.timeslot-button.disabled-business {
  background-color: grey;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .calendar-content {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
  }

  .react-datepicker__navigation {
    border-left-color: #007bff;
    /* Cambia el color de la flecha */
    margin-right: 30px;
    /* Ajuste de margen si es necesario */
    margin-top: 24px;
  }

  .calendar-content {
    width: 100%;
    /* Ancho completo en pantallas pequeñas */
    padding: 10px;
  }

  .timeslot-button {
    font-size: 12px;
    /* Tamaño de texto ajustado para dispositivos móviles */
    padding: 8px;
    /* Botones más compactos */
  }

  /* Flexibilidad para que los pares de botones en intervalos de media hora también se ajusten */
  .timeslot-pair {
    flex-direction: column;
    gap: 5px;
    /* Espaciado más pequeño en pantallas pequeñas */
  }
}