.calendar-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.calendar-content {
  background-color: whitesmoke;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header-calendar {
  background-color: #56e07b;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-calendar p {
  color: #2f285a;
  text-align: center;
  padding-left: 24px;
  font-weight: bold;
  font-size: 18px;
}

.modal-header-calendar span {
  background-color: #2f285a;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  padding: 0 24px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.calendar-header h1 {
  font-size: 2rem;
  margin: 0;
}

.modal-close-button {
  cursor: pointer;
}

.modal-close-button p {
  font-size: 1rem;
  margin: 0;
}

.modal-close-button p:hover {
  color: red;
}

.calendar-container {
  display: flex;
  align-items: center;
  background-color: #fff;

}

.react-datepicker {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.react-datepicker__current-month {
  font-size: 24px;
}

.react-datepicker__header {
  background-color: #fff;
  padding: 15px 0;
}

.react-datepicker__navigation {
  border-left-color: #007bff;
  /* Cambia el color de la flecha */
  margin-right: 10px;
  /* Ajuste de margen si es necesario */
  margin-top: 16px;

}

.react-datepicker__navigation:hover {
  opacity: 0.7;
  /* Efecto de opacidad al pasar el cursor */
  cursor: pointer;
  /* Cambia el cursor a pointer */
}

/* Ajusta el tamaño de los números en los días del calendario */
.react-datepicker__day {
  font-size: 24px;
  /* Cambia este valor al tamaño que prefieras */
  gap: 10px;
  margin: 8px;
  padding: 0px;
  width: 30px;
  /* border: solid 1px, red; */
  align-self: center;

}

.react-datepicker__month {
  font-size: 24px;
  /* Cambia este valor al tamaño que prefieras */
  gap: 10px;
  margin: 8px;
  padding: 10px;
  /* border: solid 1px red; */

}

.react-datepicker__day--selected {
  font-size: 24px;
  background-color: #56e07b;
  color: #fff;
}

/* Ajusta el tamaño de los días de la semana en el encabezado del calendario */
.react-datepicker__day-name {
  font-weight: bold;
  font-size: 24px;
  width: 30px;
  margin: 8px;
}

.datepicker-input {
  cursor: pointer;
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  /* border: 1px solid #fa0404; */
}

.timeslot-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Siempre tres columnas */
  gap: 10px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;  
  
}

.timeslot-button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  /* Asegura que el botón ocupe el ancho completo de su contenedor */
}

.timeslot-button.available {
  background-color: #2f285a;
}

.timeslot-button.reserved {
  background-color: #dc3545;
}

.timeslot-button:hover {
  opacity: 0.85;
}

.timeslot-button.disabled-business {
  background-color: grey;
  cursor: not-allowed;
}
.swal2-custom-popup {
  z-index: 2000 !important; /* Asegúrate de que este z-index sea más alto que cualquier modal actual */
}
 
@media (max-width: 768px) {

  /* Ajustes generales */
  .calendar-modal {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .calendar-content {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .modal-header-calendar {
    height: auto;
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .modal-header-calendar p {
    font-size: 16px;
    padding: 5px 0;
  }

  .modal-header-calendar span {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .close {
    font-size: 20px;
    padding: 0 15px;
  }

  .calendar-header h1 {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .modal-close-button p {
    font-size: 0.9rem;
  }

  .react-datepicker {
    width: 100%;
    margin: 10px 0;
  }

  .react-datepicker__current-month {
    font-size: 18px;
  }

  .react-datepicker__header {
    padding: 10px 0;
  }

  .react-datepicker__day,
  .react-datepicker__day-name {
    font-size: 18px;
    margin: 5px;
    width: 25px;
  }

  .react-datepicker__month {
    font-size: 18px;
    padding: 5px;
  }

  .datepicker-input {
    width: 100%;
    font-size: 1rem;
    padding: 8px;
  }

  .timeslot-container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Los botones se apilan en vertical */
    margin-top: 20px; /* Espaciado entre calendario y horarios */
  }

  .timeslot-button {
    margin-bottom: 10px; /* Espaciado entre botones */
    width: 100%; /* Botones ocupan el ancho completo */
  }

  .timeslot-button.available,
  .timeslot-button.reserved,
  .timeslot-button.disabled-business {
    width: 100%;
  }
}