.news-add-container, .news-list-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 40px;
}

.news-add-header, .news-list-header {
  background-color: #ececee;
  padding: 12px;
  border-radius: 5px 5px 0px 0px;
}

.news-add-header h1, .news-list-header h1 {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
}

.news-elements{
  padding: 15px;
}

.news-input,
.news-textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
}

.news-textarea {
  height: 100px;
}

.add-news-button {
  background-color: #2f285a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.add-news-button:hover{
  color: #56e07b;
}

.add-news-button:disabled {
  background-color: #aaa;
}

.news-list {
  margin: 10px;
}

.news-list p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}

.news-list ul {
  list-style: none;
  padding: 10px;}


.news-list li {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.news-buttons{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 15px;
}

.edit-news-button, .delete-news-button{
  background-color: #2f285a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.edit-news-button:hover, .delete-news-button:hover{
  color: #56e07b;
}
.news-date {
  font-size: 0.9rem !important;
  color: #666;
  margin-top: auto; 
  align-self: flex-end; 
  font-style: italic;
}