.navbar {
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f285a;
}

.navbar-title h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #f0f0f0;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px
}

.navbar-right span {
    font-weight: bold;
    letter-spacing: 2px;
    color: #f0f0f0;
    cursor: pointer;
}

.navbar-right span:hover {
    color: #56e07b;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        padding: 0px;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    .navbar-right {
        gap: 00px;
    }

}