

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom:20px;
}

.tab {
    background-color: #2f285a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.tab.active {
    background-color: #2f285a;
    color: #56e07b;
}

.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.required {
    color: red;
}

.register-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.login-button {
    background-color: #2f285a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }
  
  /* Efecto de hover cuando el botón está habilitado */
  .login-button:hover {
    background-color: #5145a4;
  }
  
  /* Botón deshabilitado */
  .login-button.disabled {
    opacity: 0.5; /* Transparencia para indicar que está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor para mayor claridad */
    pointer-events: none; /* Evita cualquier interacción */
  }
 /* Contenedor general */
/* Contenedor general */
.privacy-checkbox {
    display: flex;
    align-items: center; /* Alinea verticalmente el checkbox y el texto */
    margin-top: 10px;
    justify-content: flex-start; /* Alinea todo el contenido hacia la izquierda */
  }
  
  /* Etiqueta del checkbox */
  .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px; 
    gap: 8px; /* Espacio entre el checkbox y el texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima de la etiqueta */
  }
  
  /* Checkbox */
  .checkbox-label input[type="checkbox"] {
    margin: 0; /* Elimina márgenes por defecto */
    width: 16px; /* Tamaño del checkbox */
    height: 16px;
    cursor: pointer;
  }
  
  /* Enlace */
  .privacy-checkbox a {
    color: #007bff; /* Azul típico de los links */
    text-decoration: underline; /* Subrayado para el enlace */
    cursor: pointer;
  }
  
  .privacy-checkbox a:hover {
    color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }
  
