

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom:20px;
}

.tab {
    background-color: #2f285a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.tab.active {
    background-color: #2f285a;
    color: #56e07b;
}

.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.required {
    color: red;
}

.register-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.login-button {
    background-color: #2f285a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #5145a4;
  }
  
  .login-button.disabled {
    opacity: 0.5;
    cursor: not-allowed; 
    pointer-events: none; 
  }
.privacy-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-start;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px; 
    gap: 8px; 
    cursor: pointer; 
  }
  
  .checkbox-label input[type="checkbox"] {
    margin: 0; /* Elimina márgenes por defecto */
    width: 16px; /* Tamaño del checkbox */
    height: 16px;
    cursor: pointer;
  }
  
  .privacy-checkbox a {
    color: #007bff; 
    text-decoration: underline;
    cursor: pointer;
  }
  
  .privacy-checkbox a:hover {
    color: #0056b3; 
  }
  .swal2-custom-popup {
    z-index: 2000 !important; 
  }

  
