

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom:20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #5a67d8;
    color: white;
}


label {
    display: block;
    margin-bottom: 2px;
}

.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.required {
    color: red;
}

.register-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
