@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: Nunito;
        /* background-color: #f9f9f9; */

    }

    body{
        min-height: 100vh;
    }

    a{
        text-decoration: none;
        color: inherit;

    }

    .app{
        /* width: 90%;  */
        margin: auto;
        padding:0px;
    }

    cursor{
        cursor: pointer;
    }
    /* Ajustes para dispositivos móviles */
    @media (max-width: 768px) {
    
        body{
            /* border: solid 4px rgb(252, 10, 10); */
            width: 100%;
            min-height: 100vh;

            
        }
        .app{
            width: 100%;
            padding: 0px;
            /* border: solid 3px rgb(10, 252, 103); */

        }
    }